<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Account Suite" verbose="1" parallel="true">
  <test thread-count="5" name="Account Creation">
    <classes>
        <class name="testCases.CreateAccountTest">
        <methods>
          <include name="testNegativeAccountCreation"/>
        </methods>
        </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
